{% extends 'public/base.html' %}
{% block title %}首页 {% endblock %}
{% block head %}
<link href="{{url_for('static',filename='css/amazeui.min.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='css/admin.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='css/app.css')}}" rel="stylesheet">
{#
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
<link rel="icon" href="{{url_for('static',filename='img/logo.png')}}" type="image/x-icon">
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='js/echarts.common.min.js')}}"></script>
<script src="{{url_for('static',filename='js/app.js')}}"></script>
<script src="https://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>

{% endblock %}
{% block body %}
<div class="tpl-page-container tpl-page-header-fixed">
    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="{{url_for('user.back')}}" class="nav-link ">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{url_for('consultant.detail')}}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-user"></i>
                        <span>医顾信息</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{ url_for('health.detail') }}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-archive"></i>
                        <span>患者档案</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{url_for('user.index')}}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-first-order"></i>
                        <span>患者处方</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{url_for('user.index')}}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-first-order"></i>
                        <span>患者订单</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{url_for('user.index')}}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-first-order"></i>
                        <span>患者需求</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{ url_for('user.index') }}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-tasks"></i>
                        <span>患者列表</span>
                    </a>
                </li>
                {#
                <li class="tpl-left-nav-item">#}
                    {# <a href="{{ url_for('user.index') }}" class="nav-link tpl-left-nav-link-list" target="_blank">#}
                        {# <i class="am-icon-server"></i>#}
                        {# <span>mock-server</span>#}
                        {# </a>#}
                    {#
                </li>
                #}
                {#
                <li class="tpl-left-nav-item">#}
                    {# <a href="{{url_for('user.index')}}" class="nav-link tpl-left-nav-link-list">#}
                        {# <i class="am-icon-file"></i>#}
                        {# <span>测试报告</span>#}
                        {# </a>#}
                    {#
                </li>
                #}
                <li class="tpl-left-nav-item">
                    <a href="{{url_for('user.index')}}" class="nav-link tpl-left-nav-link-list">
                        <span class=" am-icon-users"></span>
                        <span>用户管理</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% block hello %}
    {% endblock %}
</div>
{%block fen%}
{%endblock%}
{% endblock %}